@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic);

/*General Stuff*/
body {

	background: #fafafa;
	color: #666;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro';
	font-weight: normal;
}
/*ul, ol reset*/
ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

#page-content {
	
}

#main-header,
.content-bubble {
	background: #FFF;
	padding: 20px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 20px #d1d1d1;
	        box-shadow: 0px 0px 20px #d1d1d1;
}

.content-bubble {
	margin-bottom: 30px;
	-ms-word-wrap: break-word;
	    word-wrap: break-word;
}

#user-control {
	margin-top: 15px;
}

#user-control .dd-capt {
	min-width: 150px;
}
#user-control ul {
	width: 100%;
}

#user-control li {
	padding: 0 20px;
}

#main-content {
	
	margin-top: 35px ;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: white;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	
}

input {
	margin: 10px 0;
}

/*### Nachrichten ###*/
ul#texts .glyphicon {
	margin-right: 0.25em;
}

ul#texts li {
	padding: 5px 5px;
}



ul#texts li:nth-of-type(even) {
	background: #FFF;
}

ul#texts li:nth-of-type(even) {
	background: #F5F5F5;
}

ul#texts li:hover {
	cursor: pointer;
	color: #fff;
	background: #aaa;
}
.preview-mail {
	/*display: none;*/
}
